doctype html
html
	head
		title= "Janhochatti"
		script(src = '/jquery-2.2.2.min.js')

	body
		form(method="get" action="/chat")
			input(name="user" type="text", placeholder="Nimi")
			input(type="submit", value="Kirjaudu")
