doctype html
html
	head
		link(rel='stylesheet', href='/tyyli.css')
		title Janhochatti
		script(src = '/jquery-2.2.2.min.js')
		script(src = '/validator.min.js')
		script(src = '/chat.js')
		script(src = '/socket.io/socket.io.js')
	body
		#content
			#login
				h1 Janhochatti
				input#usernamefield( type="text", placeholder="Nimi")
				input#color( type="color" value="#0000FF")
				button#loginbutton Kirjaudu
